/* GLOBAL */
h2.sec_title {
	color: #22354D;
}
h3 {
	color: #F7A001;
}
cite {
	color: #5A666C;
}
a.button {
	background: url('../imgs/buttonbg.png') repeat-x;
}
/* HEADER */
.tophead { 
	background: #FFFFFF;
}
.logo a {
	width: 407px;
	height: 50px;
}
.rightinfo, .rightinfo a {
	color: #707C8C;
}
.bottomhead {
	background: #5A686D;
	border-bottom: 1px solid #333333;
	box-shadow: 0 2px 5px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.7);
}
.mobile .button {
	background: #810E00;
	color: #fff;
	text-shadow: none;
}
/* FOOTER */
.topfoot {
	background: #222222;
color: #fff;
border-top: 15px solid #000;
}
.bottomfoot {
	background: #222222;
}
.map {
	border: 10px solid #23364E;
}